div.exercise.view

	div.controls
		h1.title(ng-bind="data.exercise.title")

	div.info
		div.thumb.pull-left
			i.fa.fa-picture-o

		p(ng-bind="data.exercise.descr")

		ul.muscles
			li(ng-repeat="m in data.exercise.muscles")
				i.fa.fa-male
				span(ng-bind="m.name")

	div.container.sets
		div.raw.date(ng-show="data.progress.date")
			div.col-xs-12
				span Last training {{data.progress.date | date:"'on' dd.MM.yy 'at' HH:mm"}}

		div.raw
			div.col-xs-3
				span Nr.
			div.col-xs-3
				span heft
			div.col-xs-3
				span reps

		div.raw.set( ng-repeat="set in data.progress.sets", ng-class="set.type")
			div.col-xs-3
				span.inc(ng-bind="set.inc")
			div.col-xs-3
				span.heft(ng-bind="set.heft | heft")
			div.col-xs-3
				span.reps(ng-bind="set.reps")
			div.col-xs-3
				button.btn.btn-default.btn-xs(
					ng-show="$index == data.curSetIdx"
					ng-click="doSetModal($event)"
				)
					i.fa.fa-reply


		div.raw.completion
			div.col-xs-12.text-center
				button.btn.btn-success.icon-right(
					type="button"
					ng-disabled="!data.completable"
					ng-click="completeExercise($event)"
				)
					span exercise complete
					i.fa.fa-check


	//- modal(
	//- 	show="data.upsertModal.show"
	//- 	pos="data.upsertModal.pos"
	//- 	confirm = "data.upsertModal.confirmed"
	//- )
	//- 	div.set-form
	//- 		div.raw.heading
	//- 			div.col-xs-6 heft
	//- 			div.col-xs-6 reps
	//- 		div.raw
	//- 			div.col-xs-6
	//- 				th-number-input(
	//- 					value="data.upsertModal.set.heft"
	//- 					step="5"
	//- 				)

	//- 			div.col-xs-6
	//- 				th-number-input(
	//- 					value="data.upsertModal.set.reps"
	//- 					step="1"
	//- 				)


