div.exercises.view
	div.controls

		button.btn(
			type="button"
			ng-click="insertModal()"
		)
			i.fa.fa-plus

		h1.title(ng-bind="data.title")

		button.btn(
			ng-class="{'active' : data.editMode}"
			type="button"
			ng-click="data.editMode = !data.editMode"
		)
			i.fa.fa-edit



	p.text-danger(ng-show="data.filtered.length == 0" ) No entries


	ul.th-justified-list
		li(
			ng-repeat="exr in data.filtered = (data.exercises | filter:data.searchText | musclegroup:data.muscleGroup)"
		)
			div.thumb
				i.fa.fa-picture-o

			h2(ng-bind="exr.title")

			//- redirect button
			a.btn.btn-default(
				role="button"
				ng-href="/#/exercise/{{exr._id}}"
				ng-hide="data.editMode"
			)
				i.fa.fa-chevron-right

			//- edit button
			a.btn.btn-danger(
				role="button"
				ng-click="upmoveModal($index)"
				ng-show="data.editMode"
			)
				i.fa.fa-edit

			ul.tags
				li(ng-repeat="m in exr.muscles")
					i.fa.fa-male
					span(ng-bind="m.name")

	modal(
		title="add new exercise"
		show="data.showModal"
	)
		form.form-horizontal(name="form" novalidate)
			div.form-group
				label.col-sm-2.control-label(for="exrcTitleInp") Title
				div.col-sm-10
					input.form-control(
						id="exrcTitleInp"
						ng-model="data.form.title"
						placeholder="exercise title"
						required
						type="text"
					)

			div.form-group
				label.col-sm-2.control-label(for="exerciseDescrInp") Description
				div.col-sm-10
					textarea.form-control(
						id="exerciseDescrInp"
						ng-model="data.form.descr"
						rows="3"
						placeholder="exercise description"
					)

			div.form-group
				label.col-sm-2.control-label Muscles
				div.col-sm-10
					//- options="data.muscles"
					muscle-chosen( selected="data.form.muscles" )

			//- insert controlls
			div( ng-hide="data.editMode" )
				button.btn.btn-success(
					ng-disabled="form.$invalid"
					ng-click="upsert()"
				)
					i.fa.fa-plus
					span add exercise

			//- update controlls
			div( ng-show="data.editMode" )
				button.btn.btn-danger(
					ng-click="remove()"
				)
					i.fa.fa-trash-o
					span delete

				button.btn.btn-success.pull-right(
					ng-disabled="form.$invalid"
					ng-click="upsert()"
				)
					span update
					i.fa.fa-check






