div.schedules.view
	div.controls
		button.btn(
			type="button"
			ng-click="insertModal()"
		)
			i.fa.fa-plus

		h1.title(ng-bind="data.title")

	ul.th-justified-list
		li(
			ng-repeat="schedule in data.filtered = (data.schedules)"
		)
			h2.title(ng-bind="schedule.title")
			div.descr(ng-bind="schedule.descr")

			a.btn.btn-default(
				role="button"
				ng-href="/#/exercise/{{exr._id}}"
				ng-hide="data.editMode"
			)
				i.fa.fa-chevron-right

	//- modal(
	//- 	title="add new schedule"
	//- 	show="data.showFormModal"
	//- )

	form.form-horizontal(name="form" novalidate)
		div.form-group
			label.col-sm-2.control-label Title
			div.col-sm-10
				input.form-control(
					ng-model="data.form.title"
					placeholder="exercise title"
					type="text"
					required
				)

		div.form-group
			label.col-sm-2.control-label Description
			div.col-sm-10
				textarea.form-control(
					ng-model="data.form.descr"
					rows="3"
					placeholder="exercise description"
				)

		div.form-group
			label.col-sm-2.control-label Exercises
			div.col-sm-10
				chosen(
					options="data.filteredExercises"
					option-label="title"
					fullscreen="true"
					selected="data.form.exercises"
					placeholder="select exercises"
					required
				)
					//- option template
					div(ng-hide="true" option-template="exercise")
						div.thumb
							i.fa.fa-picture-o
						div.title(ng-bind="option.title")
						//- div.descr(ng-bind="option.descr")

					//- filter
					div.input-group
						span.input-group-btn
							div.select
								i.fa.fa-sort-asc
								select(
									ng-model="data.exerciseFilter.selectedGroup"
									ng-options="g.name for g in data.exerciseFilter.muscleGroups"
									ng-change="exerciseMuscleGroupChange()"
								)
						div.input
							input.form-control(
								type="text"
								ng-model="data.exerciseSearchText"
								ng-keypress="filterExercises($event)"
								ng-change="exerciseSearchTextChange()"
								placeholder="search for exercise"
							)
							button(
								ng-hide="data.exerciseSearchText == ''"
								ng-click="exerciseSearchTextClear()"
								type="button"
							)
								i.fa.fa-times-circle

		div.form-group
			label.col-sm-2.control-label Repetition
			div.col-sm-10
				select.form-control(
					ng-model="data.form.repetition"
					required
				)
					option(selected) continues
					option daily
					option weekly


		//- insert controlls
		div( ng-hide="data.formEditMode" )
			button.btn.btn-success(
				ng-disabled="form.$invalid"
				ng-click="upsert()"
			)
				i.fa.fa-plus
				span add schedule



