div.modal-header
	h5(ng-bind="data.title")
	button.btn.icon-btn(
		type="button"
		ng-click="dismiss($event)"
	)
		i.fa.fa-times

div.modal-body
	form.form-horizontal(name="form" novalidate)
		div.form-group
			label.col-sm-2.control-label(for="exrcTitleInp") Title
			div.col-sm-10
				input.form-control(
					id="exrcTitleInp"
					ng-model="data.form.title"
					placeholder="exercise title"
					required
					type="text"
				)

		div.form-group
			label.col-sm-2.control-label(for="exerciseDescrInp") Description
			div.col-sm-10
				textarea.form-control(
					id="exerciseDescrInp"
					ng-model="data.form.descr"
					rows="3"
					placeholder="exercise description"
				)

		div.form-group
			label.col-sm-2.control-label Muscles
			div.col-sm-10
				muscle-chosen( selected="data.form.muscles" )

div.modal-footer

	div(ng-show="data.delup")
		button.btn.btn-danger.pull-left(
			ng-click="remove($event)"
		)
			i.fa.fa-trash-o
			span delete

		button.btn.btn-success.pull-right(
			ng-click="upsert($event)"
			ng-disabled="form.$invalid"
		)
			span update
			i.fa.fa-refresh

	div(ng-hide="data.delup")
		button.btn.btn-success.pull-right(
			ng-disabled="form.$invalid"
			ng-click="upsert($event)"
		)
			span add
			i.fa.fa-plus



