div.chosen
	button.btn.btn-default.icon-btn.toggle-btn(
		type="button"
		ng-click="toggleMenu($event)"
	)
		i.fa.fa-chevron-down(ng-hide="data.showMenu")
		i.fa.fa-chevron-up(ng-show="data.showMenu")

	div.selected
		span.placeholder(
			ng-bind="placeholder"
			ng-show="selected.length == 0"
		)

		ul
			li( ng-repeat="option in selected" )
				span(ng-bind="option[optionLabel]")
				button.btn.icon-btn(
					type="button"
					ng-click="unselect( $event, $index )"
				)
					i.fa.fa-times

	div.options(
		class="ng-hide"
		ng-show="data.showMenu"
		ng-class="{fullscreen : fullscreen}"
	)


		div.control-panel-top
			button.btn.btn-default.icon-btn.pull-right(
				type="button"
				ng-click="toggleMenu($event)"
			)
				span cancel
				i.fa.fa-times



		p.warning.text-danger(ng-show="data.available.length == 0" ) No entries

		ul
			li(
				ng-click="select( $event, $index )"
				ng-repeat="option in data.available"
			)
				button.btn.btn-default.icon-btn.multi-select(
					type="button"
					ng-click="multiSelect($event, $index)"
				)
					i.fa.fa-square-o(ng-hide="isMultiSelected($index)")
					i.fa.fa-check-square-o(ng-show="isMultiSelected($index)")


				chosen-option( template="getOptionTemplate()" option="option")

		div.control-panel-bottom(ng-hide="data.available.length == 0")
			button.btn.btn-default.icon-btn.pull-left(
				type="button"
				ng-disabled="data.multiSelect.length == 0"
				ng-click="multiSelect($event, 'apply')"
			)
				i.fa.fa-check
				span apply selection

			button.btn.btn-default.icon-btn.pull-right(ng-click="multiSelect($event, 'all')" )
				span select all
				i.fa.fa-level-up

		div.addons(ng-transclude)
