div.chosen( ng-click="toggleMenu()" )
	

	span.caret( ng-class="{'active' : data.showMenu}" )

	//- i.fa.fa-times.caret( ng-class="{'active' : data.showMenu}")

	div.selected
		span.placeholder(
			ng-bind="placeholder"
			ng-show="data.selected.length == 0"
		)

		ul
			li( ng-repeat="option in data.selected" )
				//- TODO: title dynamic 
				span(ng-bind="option.title")
				i.fa.fa-times( ng-click="unselect( $index )" )

	div.options(ng-show="data.showMenu")
		p.text-danger(ng-show="data.available.length == 0" ) No entries

		ul
			li(
				ng-click="select( $index )"
				ng-repeat="option in data.available"
			)
				button.btn.btn-default.icon-btn.pull-right(
					type="button"
					ng-click="multiSelect($event, $index)"
				)
					i.fa.fa-square-o(ng-hide="isMultiSelected($index)")
					i.fa.fa-check-square-o(ng-show="isMultiSelected($index)")


				chosen-option( template="getOptionTemplate()" option="option")
				

				//- span( ng-bind="option[optionTitle]" )


		button.btn.btn-default.pull-right(type="button" ng-click="multiSelect($event, -1)")
			span select
			i.fa.fa-check 

		div.addons(ng-transclude)
