div.chosen( ng-click="toggleMenu($event)" )


	span.caret( ng-class="{'active' : data.showMenu}" )

	//- i.fa.fa-times.caret( ng-class="{'active' : data.showMenu}")

	div.selected
		span.placeholder(
			ng-bind="placeholder"
			ng-show="data.selected.length == 0"
		)

		ul
			li( ng-repeat="option in data.selected" )
				span(ng-bind="option[optionLabel]")
				i.fa.fa-times( ng-click="unselect( $event, $index )" )

	div.options(ng-show="data.showMenu" ng-class="{'fullscreen' : fullscreen}")
		p.text-danger(ng-show="data.available.length == 0" ) No entries


		ul
			li(
				ng-click="select( $event, $index )"
				ng-repeat="option in data.available"
			)
				button.btn.btn-default.icon-btn.multi-select(
					type="button"
					ng-click="multiSelect($event, $index)"
				)
					i.fa.fa-square-o(ng-hide="isMultiSelected($index)")
					i.fa.fa-check-square-o(ng-show="isMultiSelected($index)")

				chosen-option( template="getOptionTemplate()" option="option")

		div.control-panel
			button.btn.btn-default.pull-left(
				type="button"
				ng-disabled="data.multiSelect.length == 0"
				ng-click="multiSelect($event, 'apply')"
			)
				i.fa.fa-check
				span apply selection

			button.btn.btn-default.icon-btn.pull-right(ng-click="multiSelect($event, 'all')" )
				i.fa.fa-level-up


		div.addons(ng-transclude)
