div.dialog(
	class="ng-hide"
	ng-hide="!show"
)
	div.dialog-content( ng-click="prevent($event)")
		div.dialog-head
			h5.pull-left(ng-bind="title")
			button.btn.icon-btn.pull-right(
				type="button"
				ng-click="cancel($event)"
			)
				i.fa.fa-times

		div.dialog-body( ng-transclude )

		div.dialog-foot(ng-show="data.confirmable")
			button.btn.btn-danger.icon-left.cancel-btn(
				type="button"
				ng-click="cancel($event)"
			)
				i.fa.fa-times
				span cancel

			button.btn.btn-success.icon-right.apply-btn(
				type="button"
				ng-click="apply($event)"
			)
				span apply
				i.fa.fa-check
