div.muscle-chosen(ng-click="toggleMenu($event)")
	span.caret(ng-class="{'active' : data.toggles.showMenu}")

	ul.selected
		li( ng-repeat="s in selected" )
			span( ng-bind="s.name" )
			i.fa.fa-times( ng-click="unselect( $index, $event )" )


	div.options( ng-show="data.toggles.showMenu" )

		//- Filter
		div.icon-btn.filter-btn.pull-left(ng-click="toggleFilter($event)", title="filter")
			i.fa.fa-filter


		div.input-group(ng-show="data.toggles.showFilter")
			div.input
				input.form-control(
					type="text",
					placeholder="filter",
					ng-model="data.searchText",
					ng-click="prevent($event)"
				)
				button(
					ng-hide="data.searchText == ''"
					ng-click="data.searchText = ''"
					type="button"
				)
					i.fa.fa-times-circle
			//- span.input-group-btn
			//- 	button.btn.btn-default(
			//- 		type="button",
			//- 		ng-click="clear( $event )",
			//- 		ng-class="{ 'disabled' : data.searchText == ''}"
			//- 	)
			//- 		i.fa.fa-times

		//- muscles list
		p.text-danger(ng-show="options.length == 0" ) No entries

		ul
			li(
				ng-repeat="o in data.filtered = ( data.available | filter:data.searchText )"
				ng-click="select( $index, $event )"
			)
				span( ng-bind="o.name" )

		//- add form
		div.input-group(
			ng-show="data.toggles.showAddForm"
		)
			span.input-group-btn
				div.select
					i.fa.fa-sort-asc
					select(
						ng-model="data.newMuscleForm.group"
						ng-options="g.name for g in data.muscleGroups"
					)

			div.input
				input.form-control(
					type="text"
					placeholder="add element"
					ng-click="prevent($event)"
					ng-model="data.newMuscleForm.name"
				)


			span.input-group-btn
				button.btn.btn-default(
					type="button"
					ng-click="add( $event )"
					ng-class="{ 'disabled' : data.newMuscle == ''}"
				)
					i.fa.fa-plus


		div.icon-btn.add-btn.pull-right(ng-click="toggleAddForm($event)", title="add option")
			i.fa.fa-level-up
