div.exercise
	h2( class="title"
		ng-bind="data.exercise.title"
	)

	div.thumb.pull-left
		i.fa.fa-picture-o

	p(ng-bind="data.exercise.descr")

	ul.muscles
		li(ng-repeat="m in data.exercise.muscles")
			i.fa.fa-male
			span(ng-bind="m.name")

	ul.sets
		li.last
			div.index 0
			div.heft 100 kg
			div.repeats 12

		li.last
			div.index 1
			div.heft 100 kg
			div.repeats 10

		li.last
			div.index 2
			div.heft 100 kg
			div.repeats 8

		li.last
			div.index 3
			div.heft 100 kg
			div.repeats 6


	button.btn.btn-primary.add-set-btn
		i.fa.fa-plus
		span &nbsp;add set

	button.btn.btn-primary(
		data-toggle="modal"
		data-target="#editExerciseModal"
	)
		//-span.glyphicon.glyphicon-plus
		i.fa.fa-pencil
		span &nbsp;edit exercise


	div.modal.fade(
		id="editExerciseModal"
		tabindex="-1"
		role="dialog"
	)
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(
						type="button"
						data-dismiss="modal"
						aria-hidden="true"
					) &times;

					h4.modal-title edit exercise

				div.modal-body
					form.form-horizontal(
						role="form"
						name="updateForm"
						ng-submit="submitForm()"
					)
						div.form-group
							label.col-sm-2.control-label(for="exrcTitleInp") Title
							//- ( ng-class="{ 'has-error' : exrcForm.title.$invalid && !exrcForm.title.$pristine }" )
							div.col-sm-10
								input.form-control(
									id="exrcTitleInp"
									type="text"
									name="title"
									placeholder="exercise title"
									ng-model="data.exercise.title"
									ng-required="true"
								)

						div.form-group
							label.col-sm-2.control-label(for="exerciseDescrInp") Description
							div.col-sm-10
								textarea.form-control(
									id="exerciseDescrInp",
									rows="3",
									placeholder="exercise description",
									ng-model="data.exercise.descr"
								)

						div.form-group
							label.col-sm-2.control-label Muscles
							div.col-sm-10
								//- div( th-chosen="data.muscles" )
								//- TODO: add exercise directive instead of th-chosen
								muscle-chosen( 
									options="data.muscles"
									selected="data.exercise.muscles"
								)

						div.form-group
							div.col-sm-offset-2.col-sm-10
								button.btn.btn-default.pull-right(type="submit")
									//- span.glyphicon.glyphicon-plus
									i.fa.fa-refresh
									span &nbsp;update exercise
