div.exercise
	h2( class="heading"
		ng-bind="data.exercise.title"
	)

	div.thumb.pull-left
		i.fa.fa-picture-o

	p(ng-bind="data.exercise.descr")

	ul.muscles
		li(ng-repeat="m in data.exercise.muscles")
			i.fa.fa-male
			span(ng-bind="m.name")

	h2.heading Sets
	div.container.sets
		div.raw.set( ng-repeat="set in data.sets", ng-class="set.type")
			div.col-xs-3
				span.idx(ng-bind="set.idx")
			div.col-xs-3
				span.heft(ng-bind="set.heft | heft")
			div.col-xs-3
				span.reps(ng-bind="set.reps")
			div.col-xs-3
				button.btn.btn-xs(
					ng-show="$index == data.set.index"
					ng-click="toggleUpsertModal($event)"
				)
					//- data-toggle="modal"
					//- data-target="#upsertSetModal"
					i.fa.fa-plus

	div.container.completion
		button.btn.btn-success.icon-right(
			type="button"
			ng-disabled="!data.completable"
			ng-click="complete()"
		)
			span exercise complete
			i.fa.fa-check


	th-modal(
		show="data.upsertModal.show"
		pos="data.upsertModal.pos"
		confirm = "data.upsertModal.confirmed"
	)
		div.upsert-form
			div.raw.heading
				div.col-xs-6 heft
				div.col-xs-6 reps
			div.raw
				div.col-xs-6
					th-number-input(
						value="data.upsertModal.set.heft"
						step="5"
					)

				div.col-xs-6
					th-number-input(
						value="data.upsertModal.set.reps"
						step="1"
					)





	button.btn.btn-primary(
		data-toggle="modal"
		data-target="#editExerciseModal"
	)
		//-span.glyphicon.glyphicon-plus
		i.fa.fa-pencil
		span &nbsp;edit exercise


	div.modal.fade(
		id="editExerciseModal"
		tabindex="-1"
		role="dialog"
	)
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(
						type="button"
						data-dismiss="modal"
						aria-hidden="true"
					) &times;

					h4.modal-title edit exercise

				div.modal-body
					form.form-horizontal(
						role="form"
						name="updateForm"
						ng-submit="submitForm()"
					)
						div.form-group
							label.col-sm-2.control-label(for="exrcTitleInp") Title
							//- ( ng-class="{ 'has-error' : exrcForm.title.$invalid && !exrcForm.title.$pristine }" )
							div.col-sm-10
								input.form-control(
									id="exrcTitleInp"
									type="text"
									name="title"
									placeholder="exercise title"
									ng-model="data.exercise.title"
									ng-required="true"
								)

						div.form-group
							label.col-sm-2.control-label(for="exerciseDescrInp") Description
							div.col-sm-10
								textarea.form-control(
									id="exerciseDescrInp",
									rows="3",
									placeholder="exercise description",
									ng-model="data.exercise.descr"
								)

						div.form-group
							label.col-sm-2.control-label Muscles
							div.col-sm-10
								muscle-chosen(
									options="data.muscles"
									selected="data.exercise.muscles"
								)

						div.form-group
							div.col-sm-offset-2.col-sm-10
								button.btn.btn-danger.pull-left(ng-click="deleteExercise($event)")
									i.fa.fa-minus
									span &nbsp;delete

								button.btn.btn-success.pull-right(type="submit")
									i.fa.fa-refresh
									span &nbsp;update exercise


