div.exercises
	div.input-group
		th-dropdown(
			class="input-group-btn",
			options="data.muscleGroups"
			selected="data.muscleGroup"
		)

		input.form-control(
			type="text"
			ng-model="data.searchText"
			placeholder="search exercise"

		)
		//- span.input-group-btn
			button.btn.btn-default(type="button")
				i.fa.fa-search


	p.text-danger(ng-show="data.filtered.length == 0" ) No entries


	ul.th-justified-list
		li(
			ng-repeat="exr in data.filtered = (data.exercises | filter:data.searchText | musclegroup:data.muscleGroup)"
		)
			div.thumb
				i.fa.fa-picture-o

			h2(ng-bind="exr.title")

			a.btn.btn-default(role="button", ng-href="/#/exercise/{{exr._id}}")
				i.fa.fa-chevron-right

			ul.tags
				li(ng-repeat="m in exr.muscles")
					i.fa.fa-male
					span(ng-bind="m.name")


	button.btn.btn-primary( ng-click="data.showAddExerciseModal = !data.showAddExerciseModal")
		i.fa.fa-plus
		span &nbsp;add exercise


		//- pos="data.addExerciseModal.pos"
	th-modal(
		title="add new exercise"
		show="data.showAddExerciseModal"
	)
		form.form-horizontal(ng-submit="submitAddExerciseForm()" name="form" novalidate)
			div.form-group
				label.col-sm-2.control-label(for="exrcTitleInp") Title
				//- ( ng-class="{ 'has-error' : exrcForm.title.$invalid && !exrcForm.title.$pristine }" )
				div.col-sm-10
					input.form-control(
						id="exrcTitleInp"
						type="text"
						name="title"
						ng-model="data.newExercise.title"
						required
						placeholder="exercise title"
					)

			div.form-group
				label.col-sm-2.control-label(for="exerciseDescrInp") Description
				div.col-sm-10
					textarea.form-control(
						id="exerciseDescrInp"
						name="descr"
						ng-model="data.newExercise.descr"
						rows="3"
						placeholder="exercise description"
					)

			div.form-group
				label.col-sm-2.control-label Muscles
				div.col-sm-10
					//- options="data.muscles"
					muscle-chosen(
						selected="data.newExercise.muscles"
					)

			button.btn.btn-success(
				ng-disabled="form.$invalid"
			)
				i.fa.fa-plus
				span &nbsp;add exercise




